flows.json
[
    {
        "id": "8e4a74ad42cf14a5",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9fa8d0a4ee3438dd",
        "type": "mqtt in",
        "z": "8e4a74ad42cf14a5",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "9cfec558491b1d2a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "a580e8bd4e16a406"
            ]
        ]
    },
    {
        "id": "a580e8bd4e16a406",
        "type": "json",
        "z": "8e4a74ad42cf14a5",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "44a38518e3c40c16",
                "37f69df96160831f"
            ]
        ]
    },
    {
        "id": "44a38518e3c40c16",
        "type": "function",
        "z": "8e4a74ad42cf14a5",
        "name": "Temperatura",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "a5f6e6278f7cb086"
            ]
        ]
    },
    {
        "id": "4c9946baf1cf243b",
        "type": "debug",
        "z": "8e4a74ad42cf14a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "a5f6e6278f7cb086",
        "type": "ui_gauge",
        "z": "8e4a74ad42cf14a5",
        "name": "",
        "group": "15ba53537acc3c9f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "24",
        "className": "",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "37f69df96160831f",
        "type": "function",
        "z": "8e4a74ad42cf14a5",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "4c9946baf1cf243b",
                "b47fac3ce61fd890"
            ]
        ]
    },
    {
        "id": "b47fac3ce61fd890",
        "type": "ui_gauge",
        "z": "8e4a74ad42cf14a5",
        "name": "",
        "group": "5c49fcf37a295a94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "8abd237fab3e7836",
        "type": "ui_switch",
        "z": "8e4a74ad42cf14a5",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "15ba53537acc3c9f",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "d4f535c48ab6344b"
            ]
        ]
    },
    {
        "id": "d4f535c48ab6344b",
        "type": "mqtt out",
        "z": "8e4a74ad42cf14a5",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqttin",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9cfec558491b1d2a",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "9cfec558491b1d2a",
        "type": "mqtt-broker",
        "name": "Localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "15ba53537acc3c9f",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "df1e8ee75f2727b1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c49fcf37a295a94",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "df1e8ee75f2727b1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df1e8ee75f2727b1",
        "type": "ui_tab",
        "name": "Flow7 Temp Humedad",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]